<nav class="breadcrumbs">
  <%= link_to "Articles", admin_articles_path %>
  <span>List</span>
</nav>

<%= link_to "New Article", new_admin_article_path, class: "btn_new_article button right" %>

<div class="section-container auto" data-section>
  <section>
    <p class="title" data-section-title><a href="#panel1">Articles</a></p>
    <div class="content" data-section-content>

      <table>
        <thead>
          <tr>
            <th width="10%">Title</th>
            <th width="50%">Content</th>
            <th width="35%">Created at</th>
            <th colspan="5%"></th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
            <tr>
              <td><%= article.title %> <% if article.status == 0 %><kbd>unpublished</kbd><% end %></td>
              <td><%= truncate(article.content, length: 100) %></td>
              <td>
                <%= article.created_at %>
            </td>
            <td>
              <%= link_to "Edit", edit_admin_article_path(article) %>
            </td>
            <td>
              <%= link_to "Delete", admin_article_path(article), method: 'delete', data: { confirm: 'Are you sure?' } %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>

<%= paginate @articles %>
