<div class="row">
  <div class="large-12 columns">
    <div class="panels">
      Edit category name: <kbd><%= @category.name %></kbd>
      </div>
  </div>
</div>
<%= form_for @category, remote: true, url: admin_category_path, method: "put", html: {class: "custom"} do |f| %>
  <fieldset>
    <legend>Edit Category</legend>
    <div class="row">
      <div class="large-12 columns">
        <div class="row collapse">
          <div class="large-10 columns">
            <%= f.text_field :name, placeholder: "Category Name" %>
            <small class="error show-for-small">Category name required</small>
          </div>
          <div class="small-2 columns">
            <%= f.submit "Save", remote: true, class: "small button postfix" %>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <%= link_to "New category", admin_categories_path %>
    </div>
  </div>
